apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: gestao-produtos
  name: gestao-produtos
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gestao-produtos
  template:
    metadata:
      labels:
        app: gestao-produtos
    spec:
      restartPolicy: Always
      imagePullSecrets: 
        - name: acr-secret
      containers:
        - name: gestao-produtos
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
          env:
            - name: ASPNETCORE_ENVIRONMENT
              valueFrom:
                configMapKeyRef:
                  name: fastfood-config
                  key: ASPNETCORE_ENVIRONMENT
            - name: ASPNETCORE_URLS
              valueFrom:
                configMapKeyRef:
                  name: fastfood-config
                  key: ASPNETCORE_URLS
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: fastfood-config
                  key: POSTGRES_HOST
            - name: POSTGRES_DB_GESTAO
              valueFrom:
                configMapKeyRef:
                  name: fastfood-config
                  key: POSTGRES_DB_GESTAO
            - name: POSTGRES_PORT
              valueFrom:
                configMapKeyRef:
                  name: fastfood-config
                  key: POSTGRES_PORT
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: POSTGRES_PASSWORD
            - name: JwtSettings__SecretKey
              valueFrom:
                configMapKeyRef:
                  name: fastfood-config
                  key: JWT_SECRET_KEY
            - name: ConnectionStrings__PostgresConnectionString
              value: "Host=$(POSTGRES_HOST);Port=$(POSTGRES_PORT);Database=$(POSTGRES_DB_GESTAO);Username=$(POSTGRES_USER);Password=$(POSTGRES_PASSWORD);SslMode=Require;TrustServerCertificate=true"
          ports:
            - containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 15
            timeoutSeconds: 10
            failureThreshold: 5