apiVersion: v1
kind: Service
metadata:
  labels:
    app: gestao
  name: app-service-gestao
  namespace: fastfood
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  selector:
    app: app
  type: {{ .Values.service.type | default "LoadBalancer" }}